/* header */
.header {
    margin-inline: auto;
    width: fit-content;
    text-align: center;
    margin-block-end: var(--size-6);
    margin-block-start: var(--size-4);
    max-width: 85vw;


    &__author {
        margin-block-end: var(--size-6);
        margin-inline: auto;
    }

    &__image {
        border: var(--border-size-4) solid var(--blue-8);
        border-radius: var(--radius-3);;
    }
}